<h1 class="title">
	<%= @category.name %>
</h1>
<p class="date">
	Submitted  <%= time_ago_in_words(@category.created_at) %> Ago
	| <%= link_to 'Edit', edit_category_path(@category) %>
	| <%= link_to 'Delete', category_path(@category), method: :delete, data: {confirm: 'Really?'}%>
</p>
<div>
	<h2> <%= @category.todos.count %>Todos</h2>
	<%= render @category.todos %>
	<h3>Add a Todo:</h3>
	<%= render "todos/form" %>
</div>
